---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import ExperienceJobs from '../components/Experience.astro';

const jobs = (await getCollection('experience')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
console.log(jobs);

---

<BaseLayout
	title="My Experience | Jeanine White"
	description="Learn about Jeanine White's most recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Experience"
				tagline="See my most recent projects below to get an idea of my past experience."
				align="start"
			/>
			<ExperienceJobs />
		</main>
		<ContactCTA />
	</div>
</BaseLayout>