---
import "photoswipe/style.css";
const classname = Astro.url.pathname.startsWith('/experience') ? "grid-cols-[repeat(auto-fill,minmax(148px,1fr))]" : "grid-cols-[repeat(auto-fill,minmax(438px,1fr))]";
const { images } = Astro.props;
---

<div class=`pswp-gallery grid ${classname} gap-4` id="gallery">
    {
        images.map((img) => (
            <a
                href={img.split("-")[0]}
                data-pswp-width={img.split("-")[1]}
                data-pswp-height={img.split("-")[2]}
                target="_blank"
            >
                <img src={img.split("-")[0]} alt="" />
            </a>
        ))
    }
</div>

<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    const setGalleries = () => {
        const lightbox = new PhotoSwipeLightbox({
            gallery: "#gallery",
            children: "a",
            pswpModule: () => import("photoswipe"),
        });
        lightbox.init();
    };
    setGalleries()
    document.addEventListener("astro:after-swap", setGalleries);
</script>
